nav Button {
  margin-bottom: 0;
  border: transparent;
  text-align: left;
  height: 45px;
  max-width: 140px;
  background-color: transparent;
  color: white;
  font-size: 13px;
}
nav Button:focus {
  outline: none;
}
nav .col {
  padding: 5px;
}

.nav-link {
  padding: 0;
}

nav input[type="text"] {
  border-radius: 10px;
  border: none;
  padding: 0px 10px;
}

nav p {
  margin-bottom: 0;
}

nav input[type="text"]:focus {
  border-radius: 10px;
  border: none;
  padding: 0px 10px;
  outline: none;
}

.form-label {
  color: white;
}
.modal-body .form-label {
  color: black;
}
